# Performance 2

In [1]:
# known import statements
import pandas as pd
import csv
from subprocess import check_output

# new import statements
import zipfile
from io import TextIOWrapper

### Let's take a look at the files inside the current working directory.

In [2]:
str(check_output(["ls", "-lh"]), encoding="utf-8").split("\n")

['total 21M',
 '-rw-rw-r-- 1 gurmail.singh gurmail.singh 2.0K Jan 30 20:49 lec2.ipynb',
 '-rw-rw-r-- 1 gurmail.singh gurmail.singh 5.2K Feb  1 13:08 lecture.ipynb',
 '-rw------- 1 gurmail.singh gurmail.singh 230K Feb  1 13:09 nohup.out',
 'drwxrwxr-x 3 gurmail.singh gurmail.singh 4.0K Jan 30 20:42 paper',
 '-rw-rw-r-- 1 gurmail.singh gurmail.singh   39 Jan 25 18:32 paper1.txt',
 'drwxrwxr-x 8 gurmail.singh gurmail.singh 4.0K Jan 30 14:06 s24',
 'drwx------ 3 gurmail.singh gurmail.singh 4.0K Jan 30 12:31 snap',
 '-rw-rw-r-- 1 gurmail.singh gurmail.singh  21M Feb  1 12:44 wi.zip',
 '']

### Let's `unzip` "wi.zip".

In [3]:
check_output(["unzip", "wi.zip"])

b'Archive:  wi.zip\n  inflating: wi.csv                  \n'

### Let's take a look at the files inside the current working directory.

In [4]:
str(check_output(["ls", "-lh"]), encoding="utf-8").split("\n")

['total 198M',
 '-rw-rw-r-- 1 gurmail.singh gurmail.singh 2.0K Jan 30 20:49 lec2.ipynb',
 '-rw-rw-r-- 1 gurmail.singh gurmail.singh 5.2K Feb  1 13:08 lecture.ipynb',
 '-rw------- 1 gurmail.singh gurmail.singh 230K Feb  1 13:09 nohup.out',
 'drwxrwxr-x 3 gurmail.singh gurmail.singh 4.0K Jan 30 20:42 paper',
 '-rw-rw-r-- 1 gurmail.singh gurmail.singh   39 Jan 25 18:32 paper1.txt',
 'drwxrwxr-x 8 gurmail.singh gurmail.singh 4.0K Jan 30 14:06 s24',
 'drwx------ 3 gurmail.singh gurmail.singh 4.0K Jan 30 12:31 snap',
 '-rw-rw-r-- 1 gurmail.singh gurmail.singh 177M Jan 14  2022 wi.csv',
 '-rw-rw-r-- 1 gurmail.singh gurmail.singh  21M Feb  1 12:44 wi.zip',
 '']

### Traditional way of reading data using pandas

In [5]:
df = pd.read_csv("wi.csv")

/tmp/ipykernel_36341/3756477020.py:1: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("wi.csv")

In [6]:
df.head(5) # Top 5 rows within the DataFrame

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2020,549300FX7K8PTEQUU487,31540,WI,55025.0,5.502500e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3572,41.15,96600,64,812,910,45
1,2020,549300FX7K8PTEQUU487,99999,WI,55013.0,5.501397e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2333,9.90,68000,87,1000,2717,34
2,2020,549300FX7K8PTEQUU487,99999,WI,55127.0,5.512700e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5943,13.26,68000,104,1394,1856,44
3,2020,549300FX7K8PTEQUU487,99999,WI,55127.0,5.512700e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,5650,7.63,68000,124,1712,2104,36
4,2020,549300FX7K8PTEQUU487,33460,WI,55109.0,5.510912e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,7210,4.36,97300,96,2101,2566,22

### How can we see all the column names?

In [7]:
df.columns

Index(['activity_year', 'lei', 'derived_msa-md', 'state_code', 'county_code',
       'census_tract', 'conforming_loan_limit', 'derived_loan_product_type',
       'derived_dwelling_category', 'derived_ethnicity', 'derived_race',
       'derived_sex', 'action_taken', 'purchaser_type', 'preapproval',
       'loan_type', 'loan_purpose', 'lien_status', 'reverse_mortgage',
       'open-end_line_of_credit', 'business_or_commercial_purpose',
       'loan_amount', 'loan_to_value_ratio', 'interest_rate', 'rate_spread',
       'hoepa_status', 'total_loan_costs', 'total_points_and_fees',
       'origination_charges', 'discount_points', 'lender_credits', 'loan_term',
       'prepayment_penalty_term', 'intro_rate_period', 'negative_amortization',
       'interest_only_payment', 'balloon_payment',
       'other_nonamortizing_features', 'property_value', 'construction_method',
       'occupancy_type', 'manufactured_home_secured_property_type',
       'manufactured_home_land_property_interest', 'total_units',
       'multifamily_affordable_units', 'income', 'debt_to_income_ratio',
       'applicant_credit_score_type', 'co-applicant_credit_score_type',
       'applicant_ethnicity-1', 'applicant_ethnicity-2',
       'applicant_ethnicity-3', 'applicant_ethnicity-4',
       'applicant_ethnicity-5', 'co-applicant_ethnicity-1',
       'co-applicant_ethnicity-2', 'co-applicant_ethnicity-3',
       'co-applicant_ethnicity-4', 'co-applicant_ethnicity-5',
       'applicant_ethnicity_observed', 'co-applicant_ethnicity_observed',
       'applicant_race-1', 'applicant_race-2', 'applicant_race-3',
       'applicant_race-4', 'applicant_race-5', 'co-applicant_race-1',
       'co-applicant_race-2', 'co-applicant_race-3', 'co-applicant_race-4',
       'co-applicant_race-5', 'applicant_race_observed',
       'co-applicant_race_observed', 'applicant_sex', 'co-applicant_sex',
       'applicant_sex_observed', 'co-applicant_sex_observed', 'applicant_age',
       'co-applicant_age', 'applicant_age_above_62',
       'co-applicant_age_above_62', 'submission_of_application',
       'initially_payable_to_institution', 'aus-1', 'aus-2', 'aus-3', 'aus-4',
       'aus-5', 'denial_reason-1', 'denial_reason-2', 'denial_reason-3',
       'denial_reason-4', 'tract_population',
       'tract_minority_population_percent',
       'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units'],
      dtype='object')