In [1]:
from IPython.core.display import display
import numpy as np
import pandas as pd
import time

/tmp/ipykernel_29089/2583958525.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display

# Confusion Matrices

In [2]:
def question_confusion_matrix():
    labels = ["apples", "oranges", "bananas"]
    data = np.random.randint(0, 100, size=(len(labels), len(labels)))
    df = pd.DataFrame(data, index=labels, columns=labels)
    print("Confusion Matrix:")
    display(df)
    i,j = np.random.randint(0, len(labels), size=2)
    answer = input(f"How many {labels[i]} are classified as {labels[j]}?  ")
    correct = df.iloc[i,j]
    if int(answer) == correct:
        print("Good job!")
        return True
    else:
        print("!"*40)
        print(f"Actually, the answer is {correct}")
        print("!"*40)
        time.sleep(2.5)
        return False

def question_binary_class(i=0):
    names = ["True Negatives", "False Positives", "False Negatives", "True Positives"]
    data = np.random.randint(0, 100, 4)
    df = pd.DataFrame(data.reshape(2,2), index=[False, True], columns=[False, True])
    print("Confusion Matrix:")
    display(df)
    answer = input(f"How many {names[i]} are there?  ")
    correct = data[i]
    if int(answer) == correct:
        print("Good job!")
        return True
    else:
        print("!"*40)
        print(f"Actually, the answer is {correct}")
        print("!"*40)
        time.sleep(2.5)
        return False
    
score = 0

for i in range(3):
    score += int(question_confusion_matrix())
    print("\n")

questions = np.arange(4)
np.random.shuffle(questions)
for i in questions:
    score += int(question_binary_class(i))
    print("\n")

print(f"You got {score} of 7 correct.")

Confusion Matrix:

         apples  oranges  bananas
apples       87       54       74
oranges      16       80       66
bananas      37       24       82

How many bananas are classified as bananas?   82

Good job!


Confusion Matrix:

         apples  oranges  bananas
apples       38        0       75
oranges       9       52       93
bananas      39       71       13

How many bananas are classified as apples?   39

Good job!


Confusion Matrix:

         apples  oranges  bananas
apples       30        3       95
oranges      29       28       94
bananas      27        9       31

How many bananas are classified as bananas?   31

Good job!


Confusion Matrix:

       False  True
False     30     44
True      99     41

How many False Positives are there?   44

Good job!


Confusion Matrix:

       False  True
False     63     30
True       4      3

How many False Negatives are there?   4

Good job!


Confusion Matrix:

       False  True
False     75     30
True      90     94

How many True Positives are there?   94

Good job!


Confusion Matrix:

       False  True
False     96     47
True      38      5

How many True Negatives are there?   96

Good job!


You got 7 of 7 correct.

# Precision and Recall

In [3]:
def question_recall():
    labels = ["apples", "oranges", "bananas"]
    data = np.random.randint(0, 6, size=(len(labels), len(labels)))
    i = np.random.randint(0, len(labels))
    data[i,i] = 0
    data[i,i] = 10 - data[i,:].sum()
    data *= np.random.randint(1,3)
    df = pd.DataFrame(data, index=labels, columns=labels)
    print("Confusion Matrix:")
    display(df)    
    answer = input(f"What is the recall for {labels[i]}?  ")
    correct = (data[i,i] / data[i,:].sum()).round(1)
    if float(answer) == correct:
        print("Good job!")
        return True
    else:
        print("!"*40)
        print(f"Actually, the answer is {correct}")
        print("!"*40)
        time.sleep(2.5)
        return False
    
def question_precision():
    labels = ["apples", "oranges", "bananas"]
    data = np.random.randint(0, 6, size=(len(labels), len(labels)))
    i = np.random.randint(0, len(labels))
    data[i,i] = 0
    data[i,i] = 10 - data[:,i].sum()
    data *= np.random.randint(1,3)
    df = pd.DataFrame(data, index=labels, columns=labels)
    print("Confusion Matrix:")
    display(df)
    answer = input(f"What is the precision for {labels[i]}?  ")
    correct = (data[i,i] / data[:,i].sum()).round(1)
    if float(answer) == correct:
        print("Good job!")
        return True
    else:
        print("!"*40)
        print(f"Actually, the answer is {correct}")
        print("!"*40)
        time.sleep(2.5)
        return False

score = 0

for i in range(3):
    score += int(question_recall())
    print("\n")
    score += int(question_precision())
    print("\n")

print(f"You got {score} of 6 correct.")

Confusion Matrix:

         apples  oranges  bananas
apples        4        4        2
oranges       0        2        5
bananas       0        4        1

What is the recall for apples?   0.4

Good job!


Confusion Matrix:

         apples  oranges  bananas
apples        0        8        6
oranges       4        8       10
bananas       0        2        4

What is the precision for bananas?   0.2

Good job!


Confusion Matrix:

         apples  oranges  bananas
apples       18        2        0
oranges       6        8        6
bananas       6        2        6

What is the recall for apples?   0.9

Good job!


Confusion Matrix:

         apples  oranges  bananas
apples        4        1        2
oranges       3        2        5
bananas       3        4        4

What is the precision for apples?   0.4

Good job!


Confusion Matrix:

         apples  oranges  bananas
apples        4       10        4
oranges       2        0       10
bananas       6        6        8

What is the recall for bananas?   0.4

Good job!


Confusion Matrix:

         apples  oranges  bananas
apples        1        2        2
oranges       5        0        1
bananas       1        4        7

What is the precision for bananas?   0.7

Good job!


You got 6 of 6 correct.